<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bookcart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
        <form class="d-flex">
            <li *ngIf="!loggedin()" class="nav-item">
                <button class="nav-link" routerLink='login/login' routerLinkactive="active">Login</button>
            </li>
            
            <li *ngIf="loggedin()"  class="nav-item">
                <button class="nav-link"  *ngIf="loggedin()" (click)="onLogout()" routerLinkactive="active">Logout</button>
           </li>
        </form>
        
    </div>
  </nav>

